html, body, #app, #app>div {
    height: 100%;
    width: 100%;
  }

#root {
    min-height: 100vh;
    height: 100%;
}

Body {
    width: 100%;
    min-height: 100%;

    
}

#Content {
    display: block;
    height: auto;
    
}

#DownloadItems {
    
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;
    
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    
    width: auto;
    height: auto;
    
    padding: 3vw;

    overflow: auto;
}

.Download-Item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    align-content: space-around;
    justify-content: space-around;
    align-items: flex-start;

    flex: 2 1 auto;
    
    height: auto;
    width: 15vw;
    box-shadow: 0px 0px 10px #333;
    border-radius: 20px;

    min-width: 300px;
    
    background-color: transparent;
    margin: 4vw;
    transition: box-shadow .1s, transform 2s;
}

.Download-Item:hover {
    box-shadow: 0px 0px 20px #333;
    transform: scale(1.1);    
}



.Download-Item-Image {
    display: grid;
    place-items: center;
    place-self: center;
    
    border-radius: 100px;
    object-fit: cover;
    

    
    align-items: center;
    height: 70%;
    width: 100%;
}

.Download-Item-InfoText {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
    
    
    overflow-x: hidden;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    background-color: #384A59;

    color: #ddd;

    box-shadow: 0px 0px 20px #333;
    
    height: auto;
    width: 100%;
    padding: 10px;
    
}



.Download-Item-InfoText-row-name{
    display: flex;
    flex-direction: row;  
    
    height: 25%;
    width: 100%;
    padding: 0px;
    font-weight: 500;
    font-family: sans-serif;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: center;

    margin-bottom: 1vh;
}

.Download-Item-InfoText-row{
    display: flex;
    flex-direction: row;
    
    font-size: 0vw;
    padding: 0vw;
    max-height: 0vw;
    height: 1vw;
    width: 100%;
    justify-content: center;
    align-items: center;

    opacity: 0;

    transition: max-height 2s ease, opacity 3s ease, transform 2s ease, padding 2s;
}

.Download-Item:hover .Download-Item-InfoText-row {
    display: flex;
    padding: .3vw;
    font-size: clamp(8px, 1vw, 24px);
    max-height: 1vw;
    opacity: 1;
    height: 1vw;
    transform: scaleY(1);
}

