#Content {
  height: auto;
}

#Form-Container {
  display: flex;
  flex-direction: column;

  align-content: center;
  justify-content: center;
  align-items: center;

  border-radius: 10px;

  width: auto;
  height: 100%;

  min-height: 90%;

  overflow-x: hidden;
  padding: 40px;
}

#Form {
  display: flex;
  flex-direction: column;

  align-content: flex-start;
  justify-content: flex-start;
  align-items: center;

  overflow-x: hidden;

  background-color: white;

  border-radius: 20px;

  box-shadow: 0px 0px 10px #333;
  padding: 20px;
}

.Form-Row {
  display: flex;
  flex-direction: row;

  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;
  height: auto;

  padding: 5px;
}

.Form-Column {
  display: flex;
  flex-direction: column;

  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;
  height: auto;
  padding: 5px;
}

.Form-Input {
  display: flex;
  flex-direction: column;

  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;

  border-style: hidden;
  background-color: lightgray;

  margin: 5px;
  padding: 5px;
}

.drop-zone {
  min-width: 10vw;
  min-height: 10vw;
}

.drop-zone-image {
  width: 10vw;
  height: 10vw;
  align-self: center;
}

.file-display-container {
  position: fixed;
  width: 805px;
}

.file-status-bar {
  width: 100%;
  vertical-align: top;
  margin-top: 10px;
  margin-bottom: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  line-height: 50px;
  height: 50px;
  opacity: 100%;
}

.file-status-bar > div {
  overflow: hidden;
}

.file-type {
  display: inline-block !important;
  position: absolute;
  font-size: 12px;
  font-weight: 700;
  line-height: 13px;
  margin-top: 25px;
  padding: 0 4px;
  border-radius: 2px;
  box-shadow: 1px 1px 2px #abc;
  color: #fff;
  background: #0080c8;
  text-transform: uppercase;
}

.file-name {
  display: inline-block;
  vertical-align: top;
  margin-left: 50px;
  color: #4aa1f3;
}

.file-error {
  display: inline-block;
  vertical-align: top;
  margin-left: 50px;
  color: #9aa9bb;
}

.file-error-message {
  color: red;
}

.file-type-logo {
  width: 50px;
  height: 50px;
  position: absolute;
}

.file-size {
  display: inline-block;
  vertical-align: top;
  color: #30693d;
  margin-left: 10px;
  margin-right: 5px;
  margin-left: 10px;
  color: #444242;
  font-weight: 700;
  font-size: 14px;
}

.file-remove {
  position: inline-block;
  line-height: 15px;
  cursor: pointer;
  color: red;
  margin-right: -10px;
}

.modal-image {
  align-self: center;
  overflow: hidden;
  object-fit: cover;
  width: 10vw;
  height: 10vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.notification {
  display: flex;
  position: absolute;

  align-items: center;
  justify-content: center;
  text-align: center;
  width: 10vw;
  height: 10vw;
}

.notification-container {
    display: flex;
    flex-direction: column;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #333;

  text-align: center;

  min-width: 200px;
  min-height: 200px;

  align-items: center;
  justify-content: space-around;

  padding: 20px;

  background-color: white;
}

.loading {
  display: flex;
  position: absolute;

  align-items: center;
  justify-content: center;
  text-align: center;

  width: 10vw;
  height: 10vw;
}

.loading-container {
  border-radius: 20px;
  box-shadow: 0px 0px 10px #333;

  text-align: center;

  min-width: 400px;
  min-height: 400px;

  align-items: center;
  justify-content: center;
  text-align: center;

  background-color: white;
}
