html, body, #app, #app>div {
    height: 100%
  }

#root {
    min-height: 100vh;
    height: 100%;
}

Body {
    width: 100%;
    min-height: 100%;

    
}

#Content {
    display: block;
    height: 100%;
    
}

#DownloadItems {
    
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;
    
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    
    width: 100%;
    height: 100%;
    
    padding: 3vw;

    overflow: auto;
}

.Download-Item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    
    height: 20vw;
    width: 15vw;
    box-shadow: 0px 0px 10px #333;
    border-radius: 20px;
    
    background-color: #F2F2F2;
    margin: 3vw;
    transition: box-shadow .1s, transform 1s;
}

.Download-Item:hover {
    box-shadow: 0px 0px 20px #333;
    transform: scale(1.1);    
}

.Download-Item-Image {
    display: grid;
    place-items: center;
    place-self: center;
    
    border-radius: 100px;
    object-fit: cover;
    

    
    align-items: center;
    height: 70%;
    width: 100%;
}

.Download-Item-InfoText {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
    
    
    overflow-x: hidden;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    background-color: #384A59;

    color: #ddd;

    box-shadow: 0px 0px 20px #333;
    
    height: 30%;
    width: 100%;
    padding: 10px;
    

}

.Download-Item-InfoText-row-name{
    display: flex;
    flex-direction: row;  
    font-size: 1vw; 
    height: 25%;
    width: 100%;
    padding: 0px;
    font-weight: 500;
    font-family: sans-serif;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Download-Item-InfoText-row{
    display: flex;
    flex-direction: row;
    
    font-size: .7vw;
    height: 1vw;
    padding: .1vw;
}

.drop-zone {
    opacity: 30%;
}